<!-- <div class="main">
    <button class="border-2 p-2 mr-5" (click)="setLang('pl')">PL</button>
    <button class="border-2 p-2" (click)="setLang('en')">EN</button>
    <div *transloco="let t; prefix: 'navbar'">
        <p>{{ t('home') }}</p>
        <p>{{ t('resume') }}</p>
        <p>{{ t('about') }}</p>
        <p>{{ t('portfolio') }}</p>
        <p>{{ t('contact') }}</p>
    </div>
</div> -->

<div class="main">
    <app-navbar [pageItems]="[home, cv, about, portfolio, contact]" />
    <span #home id="home">
        <app-banner />
    </span>
    <span #cv id="resume">
        <app-cv />
    </span>
    <span #about id="about">
        <app-about />
    </span>
    <span #portfolio id="portfolio">
        <app-portfolio />
    </span>
    <span #contact id="contact">
        <app-contact />
    </span>
    <div class="relative py-2 text-center" style="background-color: #363636; color: #868686">
        <p>Copyright &copy; 2024 - <span class="text-red-500 font-semibold">Jakub Pruszydło</span></p>
    </div>
</div>
